
{% extends "layout/columns.html.twig" %}

{% block title %} Cabinet {% endblock %}

{% block meta %}
    <meta name="description" content="Cabinet Page description">
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active">Cabinet</li>
    </ul>
{% endblock %}

{% block main %}
    <h1>Cabinet</h1>
{% endblock %}